@charset "utf-8";
/* CSS Document */

html,body {
		height: 100%;
	}
img {
	
	width: 100%;
}

.stickytop {
	display: block;
}
@media only screen and (max-width: 900px) {
    .row {
		 
	
    }
}